body {
  background-color: #272B33;
  color: #ffffff;
  font-family: "Segoe UI";
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  width: 40rem;
  height: 20rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;

}

.image {
  height: 100%;
  width: 50%;
}

img {
  width: 100%;
  height: 100%;
}

.information {
  background-color: #3C3E44;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  flex-direction: column;
}

h2 {
  font-weight: 800;
  color: #ffffff;
  line-height: 0;
}

ul, li {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
}

strong {
  color: #ffffff;
}

li {
  color: #ff9800;
}


.circulo {
  height: 5px;
  width: 5px;
} 

p {
  color:  #9e9e9e;
  font-weight: 500;
  font-size: 18px;
}

span {
   color:  #ff9800;
}

input {
  width: 30rem;
  height: 2rem;
  text-align: center;
  border:1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  background-color: #3C3E44;
  color: #9e9e9e;
}

input:focus {
  color: #ffffff;
  outline: 1px solid #ccc;
  background-color: #4a4c53;
}

button {
  height: 2rem;
  width: 6rem;
  border-radius: 3px;
  background-color: #ff9800;
  color: #ffffff;
  font-weight: 700;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff9900d7;
  transition: 0.6s;
}


